body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    font-weight: bolder;
    color: rgb(53, 121, 121);
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
    margin-top: 50px;
}
.half-width{
    margin-left: 5%;
    margin-top: 5%;
    width: 50%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato,orange);
    padding: 18px 35px;
    border-radius: 60px;
    color: white;
    font-weight: 800;
    box-shadow: 5px 2px 5px rosybrown;
}
#about-section{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
h2{
    color: darkgray;
    font-size: 40px;
    font-weight: bolder;
}
#recipe{
    text-align: center;
}
.recipe-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}
.recipe-item img{
    width: 100%;
}
h3{
    font-size: 30px;
}
.show-up{
    width: 30%;
}
#fixing{
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 5px 5px 5px 5px cyan;
    text-align: center;
    padding: 40px;
}
footer{
    background-color: black;
}
.footer-style{
    text-align: center;
    padding: 10px 40px;
    padding-bottom: 80px;
}
.cyan-color{
    color:darkcyan;
}
#about-myself{
    text-align: justify;
    padding-right: 5%;
}
.para-size{
    text-align: justify;
}